
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-up-circle:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */